adbutils==2.9.3
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
decorator==5.2.1
deprecation==2.1.0
idna==3.10
loguru==0.7.3
lxml==6.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.2.6
opencv-python==4.11.0.86
packaging==25.0
pillow==11.2.1
Pygments==2.19.2
requests==2.32.4
retry2==0.9.5
urllib3==2.5.0
win32_setctime==1.2.0
